body {
    background-color: black;
    text-align: center;
    font-size: 18px;
}
h1 {
  color: white;
  font-size: 28px;
}
h2 {
  color: white;
  font-size: 28px;
}
p {
    color: white;
    width:auto;
    font-size: 16px;
}
div.highasfk {
  display: inline-block;
  margin: auto;
  width: 250px;
}

div.highasfk img {
  width: 100%;
}
